nav{
    position: fixed;
    top: 0px;
    left:0px;
    width:100%;
    border:1px orange solid; 
    background-color:rgb(189,135,67); 
    height:29px; 
    font-size:25px
}

body{
    background-image:linear-gradient(90deg,rgba(200,200,255,0.5),rgba(100,255,100,0.5))
}
.a{
    border:0px white solid;
}
h1{
    color:darkblue;
    font-size: 40px
}
.blue a{
    text-decoration: none;
    color:black; 
    font-size:20px
}