body{
    background-color: antiquewhite; 
    width:100%; 
    margin:0px;
    padding:0px; 
    height:85px
}
.a{
    border:0px white solid; 
    background-color:orange; 
    margin-top: -9px
}
h1{
    color:darkblue;
    font-size: 40px
}
hr{
    border:1px black solid; 
    background-color: black;
    height:2px"
}